a {
  color: $gray;
  &.btn {
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 4px;
    border: 1px solid;
    font-family: 'gotham-medium';
    font-size: 1.5rem;
    &.btn-primary {
      border-color: $secondary;
      background-color: $primary;
      color: $secondary;
    }
    &.btn-secondary {
      border-color: $primary;
      background-color: $secondary;
      color: $primary;
    }
  }
}
