.game-admin {
  background-color: $primary;
  margin-left: -15px;
  margin-right: -15px;
  padding: 2.4rem 2rem 2.4rem 2rem;
  h1 {
    font-family: 'gotham-bold';
    font-size: 6rem;
    color: $secondary;
    margin-bottom: 2rem;
    span {
      color: $yellow;
    }
  }
}
