@import './variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';

@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';

@import './global';

//components
@import '../components/app';
