@import './elements/a';
@import './elements/button';
@import './elements/scroller';
@import './elements/cards';
@import './elements/input';
body {
  margin: 0;
}
html {
  @include media-breakpoint-up(xs) {
    font-size: 47%;
  }

  @include media-breakpoint-up(sm) {
    font-size: 50%;
  }
  @include media-breakpoint-up(md) {
    font-size: 50%;
  }
  @include media-breakpoint-up(lg) {
    font-size: 62.5%;
  }
  @include media-breakpoint-up(xl) {
    font-size: 70%;
  }
}

@font-face {
  font-family: 'gotham-bold';
  src: url('../resources/fonts/gotham/Gotham-Bold.otf');
}
@font-face {
  font-family: 'gotham-medium';
  src: url('../resources/fonts/gotham/GothamMedium.ttf');
}
@font-face {
  font-family: 'grand-hotel';
  src: url('../resources/fonts/grand_hotel/GrandHotel-Regular.ttf');
}
@font-face {
  font-family: 'gotham-book';
  src: url('../resources/fonts/gotham/GothamBook.ttf');
}
