@import './header/header';
@import './home/home';
@import './games/games';
@import './footer/footer';
@import './game/game';
@import './common/common';

.app {
  .header-component {
  }
  .content {
    //height: calc(100% - 12rem);
  }
  .footer {
  }
}
