.team-details {
  background-color: $secondary;
  border-radius: 0.5rem;
  border: 1px solid #707070;
  width: 100%;
  padding: 2rem;
  .how-to {
    font-size: 1.5rem;
    color: $primary !important;
    text-decoration: underline !important;
    font-family: 'gotham-medium';
  }
  .details {
    margin-top: 2rem;
    label {
      color: $black;
      font-family: 'gotham-bold';
      font-size: 1.2rem;
    }
  }
}
