.inputMar{
    margin-bottom: 5px;
}

.tapHere{
 background-color: yellow;
}

body, html {
    height: 100%;
    padding-top: 10px;
  }

  .fullHeight{
      height: 100%;
  }

  .tapHereText{
    text-align: center;
    vertical-align: middle;
  }