.games {
  background-color: #a2d5f2;
  margin-left: -15px;
  margin-right: -15px;
  padding: 2.4rem 2rem 2.4rem 2rem;
  height: calc(100vh - 12rem);
  h1 {
    font-family: 'gotham-bold';
    font-size: 6rem;
    color: $primary;
    span {
      color: #f67280;
    }
    margin-bottom: 2.4rem;
  }
  .gameList {
    padding-left: 5.7rem;
    padding-right: 5.7rem;
  }
}
